NEXT_PUBLIC_SUPABASE_URL=https://gzwlmbhsceaemleqngrj.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_publishable_key
SUPABASE_SECRET_KEY=your_secret_key
NEXT_PUBLIC_SITE_URL=https://gaming-marketplace-gold.vercel.app
STRIPE_SECRET_KEY=sk_test_your_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_signing_secret
